<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.CouponMapper">

    <select id="findCouponById" parameterType="Integer" resultType="coupon">
            select id,
                   coupon_sn,
                    begin_time,
                    end_time,
                    status,
                    add_time,
                    update_time,
                    be_deleted,
                    coupon_rule_id
                    from coupon where id = #{id}
    </select>

    <select id="findCouponRuleById" parameterType="Integer" resultType="couponRulePo">
            select id,
                   name,
                   descr,
                   begin_time,
                   pic_url,
                   brief,
                   valid_period,
                   goods_ids1 as goods_ids,
                   add_time,
                   update_time,
                   be_deleted,
                    strategy
                    from coupon_rule where id = #{id}
    </select>


</mapper>