<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xmu.oomall.mapper.GoodsMapper">

    <select id="findGoodsById" resultType="goods" parameterType="Integer">
        select id,
              goods_sn,
              name,
              short_name,
              english_name,
              bar_code,
              stock_unit,
              length,
              width,
              height,
              gross_weight,
              net_weight,
              category_name,
              brand_name,
              status,
              be_new,
              be_hot,
              gallery,
              brief,
              pic_url,
              share_url,
              add_time,
              update_time,
              be_deleted
        from goods where id = #{id}
    </select>

    <select id="findProductById" resultType="product" parameterType="Integer">
        select id,
           product_sn,
           product_property,
           stock,
           retail_price,
           purchase_price,
           add_time,
           update_time,
           be_deleted,
           goods_id
        from product where id = #{id}
    </select>

    <select id="findPromotionByGoodsId" resultType="promotionPo" parameterType="Integer">
        select id, begin_time, end_time, promotion_sn, pay_strategy, add_time, update_time, be_deleted, descr
        from promotion
        where goods_id = #{id}
    </select>

    <select id="getStockInDB" resultType="Integer" parameterType="Integer">
        select stock
        from product where id = #{id}
    </select>

    <update id="updateProduct" parameterType="product">
        update product
        <trim prefix="set" suffixOverrides=",">
            <if test="productSn!=null">product_sn=#{productSn},</if>
            <if test="productProperty!=null">product_property=#{productProperty},</if>
            <if test="stock!=null">stock=#{stock},</if>
            <if test="retailPrice!=null">retail_price=#{retailPrice},</if>
            <if test="purchasePrice!=null">purchase_price=#{purchasePrice},</if>
            <if test="addTime!=null">add_time=#{addTime},</if>
            <if test="updateTime!=null">update_time=#{updateTime},</if>
            <if test="beDelete!=null">be_delete=#{beDelete},</if>
            <if test="goodsId!=null">goods_id=#{goodsId},</if>
        </trim>
        WHERE id=#{id}
    </update>
</mapper>